h1 {
    font-style: italic;
}

a {
    font-family: cursive;
}

a:link {
    color: red;
}

a:visited {
    color: black;
}

a:hover {
color: cadetblue;
}

a:focus {
    background-color: black;
    color: white;
}

input:focus {
    border: 2px solid black;
    background-color: lightgreen;
}

a:active {
    color: darkseagreen;
    font-size: 90%;
}

ul li:first-child{
    background-color: yellow;
}

ul li:last-child {
    background-color: chartreuse;
}

ul li:nth-child(even) {
    font-style: italic;
}

ul li:nth-child(odd) {
    font-weight: bold;
}

ul li:nth-child(4) {
    color: crimson;
    background-color: rgb(233, 233, 233);
    border: 1px solid black;
}

div {
    border: 1px solid black;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.conteiner :nth-of-type(2) {
    background-color: blueviolet;
}

input:disabled {
    background-color: darkgrey;
}

input:invalid {
    background-color: lightcoral;
}

p::before {
    content: '>> ';
}

p::after {
    content: ' <<';
}