* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr 0.5fr 0.5fr;
    grid-template-rows: 80px 250px 250px 280px 60px;
    gap: 5px;
    grid-template-areas: 
    "header    header    header    header    header"
    "main      main      main      aside     aside"
    "main      main      main      aside     aside"
    "article1  article1  article2  article2  article2"
    "footer    footer    footer    footer    footer"
    ;
}

header {grid-area: header; background-color: greenyellow;}

main {grid-area: main; background-color: cadetblue;}

aside {grid-area: aside; background-color: crimson;}

.article1 {grid-area: article1; background-color: darkgreen;}

.article2 {grid-area: article2; background-color: darkgreen;}

footer {grid-area: footer; background-color: greenyellow;}