main {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  grid-template-rows: 50px 1fr 1fr;
  gap: 10px;
  padding: 0 20px;

  h3 {
    grid-column: 1/4;
    text-align: center;
    margin: auto 0;
    font-size: 1.5em;
  }

  .pizzas {
    // border: 1px solid black;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

    img {
      width: 75%;
    }

    #info-pizza {
      max-width: 90%;
    }

    p {
      margin: 5px 0;
      align-self: flex-start;
      }

    span {
      font-weight: bold;
    }
  }
}