@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Pacifico&display=swap');

:root {
    --amarelo: #efb632;
    --azul: #048BA8;
}

header {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    text-align: center;
}

header img {
    width: 200px;
}

header h1 {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

nav {
    background-color: black;
}

nav ul {
    padding: 20px 15px;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    text-decoration:none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    transition: 0.2s;
    border-radius: 20px;
}

nav ul li a:hover {
    color: #000000;
    background-color: white;
}

main {
    background-color: white;

}

#dica-do-dia {
    background-color: var(--amarelo);
    border: 2px solid black;
    border-radius: 5px;
    margin: 25px auto;
    padding: 15px;
    max-width: 85%;
}

#dica-do-dia h2 {
    font-size: 2.3em;
    font-family: 'Pacifico', cursive;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 25px;
}

#dica-do-dia p {
    font-size: 1.2em;
    margin-bottom: 15px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    line-height: 25px;
    text-align: justify;
    text-indent: 15px;
    margin: 20px;
}

#dica-do-dia img {
    border: 1px solid black;
    box-shadow: 0px 0px 3px black;
    display: block;
    max-width: 70%;
    margin: 40px auto;
}

#produtos-em-promocao {
    background-color: #5DA9E9;
    margin: auto;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: 0px 0px 2px black;
}

#produtos-em-promocao h2 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 30px;
    font-size: 2em;
    font-weight: bold;
}

.opcao-de-produto {
    box-sizing: border-box;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    margin: 20px 5%;
    box-shadow: 0px 0px 4px black;
    border-radius: 8px;
    width: 300px;
}

.opcao-de-produto img {
    width: 300px;
    height: 350px;
    border-bottom: 1px solid black;
    border-radius: 8px 8px 0px 0px;
}

.informacoes-do-produto {
    padding: 5px;
}

.informacoes-do-produto p {
    color: black;
    text-align: left;
    max-width: 280px;
    margin: 5px;
    font-size: 1.2em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#preco-original {
    text-decoration: line-through;
    color: darkred;
    margin-top: 10px;
}

.informacoes-do-produto button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    font-size: 1em;
    transition: 0.2s;
}

.informacoes-do-produto button:hover {
    background-color:rgb(219, 219, 219);
    cursor: pointer;
    transition: 0.2s;
}

#acessorios-e-roupas {
    margin: auto;
    text-align: center;
}

#acessorios-e-roupas h2 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 15px;
    padding: 30px;
    font-size: 2em;
    font-weight: bold;
}

.caixa-dos-acessorios-e-roupas {
    border: 2px solid black;
    box-shadow: 0px 0px 2px black;
    margin: 30px 10%;
    padding-bottom: 18px;
}

#cachorros {
    margin-top: 0;
    margin-bottom: 60px;
}

.caixa-dos-acessorios-e-roupas h3 {
    margin: 20px;
    font-size: 1.8em;
    font-family: 'Times New Roman', Times, serif;
}

#servicos {
    margin: 20px 0px 60px 0;
    padding-bottom: 60px;
    background-color: #FF6666;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: 0px 0px 2px black;
}

#servicos h2 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 30px;
    font-size: 2em;
    font-weight: bold;
    
}

#servicos article {
    margin: 0;
    margin-bottom: -10px;
    text-align: center;   
}

.opcao-de-servico {
    position: relative;
    padding: 190px;
    width: 450px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    box-sizing: border-box;
}

.opcao-de-servico img {
    position: absolute;
    width: 450px;
    height: 500px;
    top: 0%;
    left: 0%;
    margin: 0;
    transition: 0.2s;
}

.opcao-de-servico:hover img {
    opacity: 50%;
}

.opcao-de-servico:hover a {
    display: inline;
}

.opcao-de-servico a:hover {
    text-decoration: underline;
}

.opcao-de-servico a {
    position: absolute;
    text-decoration: none;
    color: white;
    display: none;
    font-size: 1.5em;
    font-family: 'Noto Sans', sans-serif;
    transition: 0.2s;
}

.caixa-opcoes-servicos {
    display: inline-block;
    margin: 0 -2px;
    width: 450px;
    height: 500px;
    border: 1px solid black;
}

footer {
    background-color:black;
    padding: 10px;
}

footer address, p {
    color: white;
    text-align: center;
    margin: 20px;
    font-size: 0.8em;
    font-family: 'Noto Sans', sans-serif;
}