.navBar {
    background-color: #202020;
    border-bottom: 1px solid white;
}

.nav-link:hover{
    color: #FFDC2D !important;
} 
.nav-link:active {
    color: #e6c525;
}

.account:hover {
    transform: scale(0.96);
}

.exclamacao {
    position: relative;
    top: -45px;
    left: 23px;
}

.notifications:hover {
    transform: scale(0.97);
}

.navDiv {

    @media screen and (max-width: 991px) {
        height: auto;
        .account {display: none;}
        .notifications {display: none;}
        .account-text {display: block;}
        .notifications-text {display: block;}
    }
    @media screen and (min-width: 991px) {
        height: 48px;
        .account {display: block;}
        .notifications {display: block;}
        .account-text {display: none;}
        .notifications-text {display: none;}
    }
}

#modalContainer {

    .modal-content {
        border: 2px solid white;
        #modalHeader {
            background-color: #3E3E3E;
            #modalTitle {color: white;}
            .btn-close {background-color: white;}
        }
        #modalBody {
            color: white;
            background-color: #3E3E3E;
        }
        #modalFooter {
            background-color: #3E3E3E;
            #modalButton {
                background-color: #FFDC2D;
                color: black;
                border: none;
                padding: 5px 25px;
            }
        }
    }

}
